@import "tailwindcss";


.leaflet-container {
  height: 100%;
  width: 100%;
  border-radius: 0.75rem;
  z-index: 10;
}

/* Radar Sweep Animation */
@keyframes radar-sweep {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.radar-sweep-beam {
  transform-origin: center;
  animation: radar-sweep 4s linear infinite;
}

@keyframes radar-pulse {
  0% {
    r: 10px;
    opacity: 0.8;
  }
  100% {
    r: 90px;
    opacity: 0;
  }
}

.radar-pulse-ring {
  animation: radar-pulse 2s ease-out infinite;
}
